//colors
$moutain-blue: #A1DAD3;
$dark-blue: #2F484F;

//fonts
$header-font: 'Josefin Sans', sans-serif;

.background {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #FCF2D8;
  display: flex;

  .sun {
    width: 100vw;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
      font-family: $header-font;
      font-style: italic;
      font-size: 50px;
      height: 35px;
    }
    svg {
      margin-top: 10%;
    }
  }
  .mountains {

    svg {
      width: 100vw;
      height: 280px;
      position: fixed;
      bottom: -7px;
      right: 2px;

    }
  }
}
