<div class="background">
  <div class="sun">
    <p>Take-aHike!</p>
    <svg class="animated fadeIn" width="160px" height="153px" viewBox="0 0 160 153" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
        <title>sun</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Artboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Landing" transform="translate(-105.000000, -108.000000)">
                <g id="sun" transform="translate(105.000000, 109.000000)">
                    <circle id="Oval" fill="#F6A623" cx="83" cy="75" r="34"></circle>
                    <path d="M84,116 L84,151" id="Line" stroke="#E5E09A" stroke-linecap="square"></path>
                    <path d="M84,0 L84,35" id="Line-Copy" stroke="#E5E09A" stroke-linecap="square"></path>
                    <path d="M122.5,73.5 L159.5,73.5" id="Line" stroke="#E5E09A" stroke-linecap="square"></path>
                    <path d="M0.5,73.5 L37.5,73.5" id="Line-Copy-2" stroke="#E5E09A" stroke-linecap="square"></path>
                    <path d="M115.5,47.5 L140.5,24.5" id="Line" stroke="#E5E09A" stroke-linecap="square"></path>
                    <path d="M29.5,46.5 L54.5,23.5" id="Line-Copy-4" stroke="#E5E09A" stroke-linecap="square" transform="translate(42.000000, 35.000000) scale(-1, 1) translate(-42.000000, -35.000000) "></path>
                    <path d="M112.5,126.5 L137.5,103.5" id="Line-Copy-5" stroke="#E5E09A" stroke-linecap="square" transform="translate(125.000000, 115.000000) scale(-1, 1) translate(-125.000000, -115.000000) "></path>
                    <path d="M26.5,125.5 L51.5,102.5" id="Line-Copy-3" stroke="#E5E09A" stroke-linecap="square"></path>
                </g>
            </g>
        </g>
    </svg>
  </div>
  <div class="mountains">
    <svg width="600px" height="434px" viewBox="0 0 600 434" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
        <title>mountain</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Sketches" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="iPad-Pro-Portrait" transform="translate(-170.000000, -408.000000)">
                <g id="mountain" transform="translate(170.000000, 382.000000)">
                    <polygon id="Triangle" fill="#A1DAD3" points="217.5 27 433 458 2 458"></polygon>
                    <polygon id="Triangle-2" fill="#A1DAD3" points="354.5 102 600 458 109 458"></polygon>
                    <polygon id="Triangle-3" fill="#2F484F" transform="translate(148.548973, 252.824286) rotate(15.000000) translate(-148.548973, -252.824286) " points="156.886701 15.7275029 237.886701 381.727503 219.128216 447.071445 59.2112451 489.921069 79.6718324 390.722843"></polygon>
                    <polygon id="Triangle-4" fill="#2F484F" transform="translate(243.511005, 359.059978) rotate(-3.000000) translate(-243.511005, -359.059978) " points="254.656844 252.842096 341.575379 465.277861 145.446631 453.034356"></polygon>
                    <polygon id="Path-2" fill-opacity="0.828889266" fill="#2F484F" transform="translate(323.774790, 183.796106) rotate(2.000000) translate(-323.774790, -183.796106) " points="351.624161 100.477315 295.925419 184.730352 341.706157 267.114897"></polygon>
                </g>
            </g>
        </g>
    </svg>
  </div>
</div>
