//colors
$moutain-blue: #A1DAD3;
$dark-blue: #2F484F;
$dark-green: #1D3237;

//fonts
$header-font: 'Josefin Sans', sans-serif;


.navBarTop {
  height: 50px;
  background-color: $dark-green;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    li {
      margin: 3% 0 0 0;
      font-family: $header-font;
      font-size: 135%;
      color: $moutain-blue;
      svg {
        height: 25px;
      }
    }
  }
}
.map {
  .search {
    background-color: #dfd2ae;
  }
    input {
      margin-left: 35%;
    }
  .sebm-google-map-container {
    height: 550px;
  }
}

.navBottom {
  height: 50px;
  background: $dark-green;

  ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      margin-top: 2%;
    }
  }
}
